* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0,0,0, 0.9);
}
.wrapper {
    width: 100vw;
    height: 100vh;
}

.memeSlider{
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.memImage{
    display: flex;
    height: 75vh;
    width: 400%;
}

.mem_button {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: rgb(38, 118, 240);
    cursor: pointer;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
    border: 0.2rem solid rgb(38, 118, 240);
    position: absolute;
    z-index: 1;
    top: 85%;
}

.image_text {
    display: inline-block;
    color: #fff;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 1;
    top: 85%;
    transform: translateX(200vw);
    font-size: 2rem;
}

label:nth-child(2){
    left:80%;
}

label:nth-child(5){
    left:85%;
}

label:nth-child(8){
    left:90%;
}

label:nth-child(11){
    left:95%;
}

.mem_button:hover {
    background-color: #fff;
    border: 0.2rem solid #fff;
}

input[name="mem_button"] {
    position: absolute;
    visibility: hidden;
}

#radio_button_1:checked ~ .image {
    transform: translateX(0%);
}

input[type="radio"]:checked +label  {
    background-color:rgba(0,0,0, 0);
}
#radio_button_1:checked ~.image_text:nth-child(3){
    transform: translateX(0%);
}

#radio_button_2:checked ~.image_text:nth-child(6){
    transform: translateX(0%);
}

#radio_button_3:checked ~.image_text:nth-child(9){
    transform: translateX(0%);
}
#radio_button_4:checked ~.image_text:nth-child(12){
    transform: translateX(0%);
}

#radio_button_2:checked ~ .image {
    transform: translateX(-100%);
}

#radio_button_3:checked ~ .image {
    transform: translateX(-200%);
}

#radio_button_4:checked ~ .image {
    transform: translateX(-300%);
}

.image {
    width: 25%;
    transition: all 0.3s ease;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}